:root {
    --timeline: #cecccc;
  }

*,
*::before, 
*::after  {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(32, 32, 32);
    font-family: 'Lato', sans-serif;
}

header {
    position: fixed;
    top: 5vh;
    left: 3.2vw;
}

#logo {
    max-width: 120px;
    margin-bottom: 3.5vh;
}

nav ul li a {
    font-family: 'Assistant', sans-serif;
    display: block;
    font-size: 13px;
    height: 29px;
    letter-spacing: 1px;
}


.typo {
    text-transform: uppercase;
    font-size: 13px;
}



aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 18vw;
    background-color: rgb(255, 255, 255);
    padding: 3.4vh 3%;
}

input,
textarea {
    border-bottom: 1px solid rgb(201, 201, 201);
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 2px 0 2px 0;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 23px;
}

label {
    position: relative;
    right: 1px;
    font-size: 14px;
    color: rgb(88, 87, 87);
    font-weight: 300;
}

#home {
    background-image: url("white_wall_hash.png");
    background-color: rgb(238, 238, 238);
    height: 100vh;
    width: 82vw;
}

#portfolio {
    background-color: rgb(155, 225, 228);
    height: 100vh;
    width: 82vw;
}


.main-wrapper {
    position: relative;
    top: 22vh; 
    left: 11vw;   
    max-width: 750px;
    margin: 0 auto;
}

.img-frame {
    display: inline-block;
    background-color: white;
    width: 50%;
    height: 60vh;
    padding: 1.8% 2%;
    box-shadow: 1px 1px 3px 1px rgb(235, 233, 233);
    border-style: 1px solid grey;
}

.img-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: hue-rotate(340deg) sepia(50%) grayscale(20%) brightness(120%);
}

.text-home {
    display: inline-block;
    width: 30%;
    margin-left: 4%;
    font-size: 14.7px;
    font-weight: 300;
    line-height: 19.5px;
}

.text-align-right, .text-align-right a {
    text-align: right;
    font-size: 14px;
    color: rgb(122, 122, 122);
    font-weight: 300;
}

.selected {
    font-weight: 900;
    color: rgb(66, 66, 66);
}

#selected2 {
    font-weight: 900;
    color: rgb(107, 107, 107);
}

#part-of-cv {
    position: relative;
    border-left: 2px solid var(--timeline);
    padding-top: 50px;
    margin-top: 10vh;
}

.merits-wrapper1 {
    position: relative;
    right: 6px;
}

.merits-wrapper2 {
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 35px;
}

.merits-wrapper1:last-of-type .merits-wrapper2{
    margin-bottom: 47px;
}

#part-of-cv p {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 17px;
    color: rgb(85, 85, 85);
    font-weight: 200;
}

h5 {
    font-family: 'Assistant', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: rgb(78, 78, 78);

}

h5::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: rgb(230, 228, 228);
}

.bullet {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--timeline);
    transition-duration: 350ms;
    transition-timing-function: ease-in;
    transition-property: border, transform;
}

.merits-wrapper1:hover .bullet {
    border: 1px solid var(--timeline);
    transform: scale(2.5);

}

.timeline-arrow {
    position: absolute;
    bottom: 0;
    left: -1.5px;
    height: 12px;
    width: 12px;
    border-right: 2px solid var(--timeline);
    border-bottom: 2px solid var(--timeline);
    transform: scale(0.9, 1) rotate(45deg);

}

#to-portfolio-wrapper {
    position: absolute;
    width: 100%;
    bottom: 4vh;
    line-height: 50px;

}

#to-portfolio-wrapper > div {
    position: absolute;
    top: 0;    
    display: inline-block;
}

h6 {
    font-weight: 400;
}

#to-portfolio {
    width: 47px;
    height: 47px;
    background-color: magenta;
    border-radius: 50%;
    border: none;
    padding: 10px;
    margin-right: 1vw;
}

#to-portfolio img {
    width: 100%;
    color: white;

}
