:root {
    --timeline: #cecccc;
  }


  * {
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 0;
      color: rgb(32, 32, 32);
  }

*::before, 
*::after  {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Assistant', sans-serif;
    font-size: 56px;
    margin-bottom: 2vh;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: ;
}

header {
    position: fixed;
    top: 5vh;
    left: 3.2vw;
}

#logo {
    max-width: 120px;
    margin-bottom: 3.5vh;
}

nav ul li a {
    font-family: 'Assistant', sans-serif;
    display: block;
    font-size: 14px;
    height: 29.5px;
    letter-spacing: 1px;
}


.typo {
    text-transform: uppercase;
    font-size: 13px;
}

.typo a:hover {
    color: rgb(100, 99, 99);
    font-weight: 900;
}

.selected {
    font-weight: 900;
    color: rgb(66, 66, 66);
}

.selected:hover {
    font-weight: 900;
}


aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 16.5vw;
    background-color: rgb(255, 255, 255);
    padding: 3.4vh 2.2% 3.4vh 2.4%;
}

input,
textarea {
    border-bottom: 1px solid rgb(201, 201, 201);
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 2px 0 2px 0;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 23px;
}

label {
    position: relative;
    right: 1px;
    font-size: 14px;
    color: rgb(88, 87, 87);
    font-weight: 300;
}

#home {
    background-image: url("white_wall.png");
/*     background-size: cover; */
    background-color: rgb(165, 112, 112);
    height: 100vh;
    width: 83.5vw;
}

#portfolio {
    background-color: rgb(155, 225, 228);
    height: 100vh;
    width: 83.5vw;
}


.main-wrapper {
    position: relative;
    top: 31vh; 
    left: 0.5vw;   
    max-width: 550px;
    margin: 0 auto;
}

.text-home {
    font-weight: 300;
    line-height: 19.5px;
}

.text-align-right, .text-align-right a {
    text-align: right;
    font-size: 14px;
    color: rgb(122, 122, 122);
    font-weight: 300;
}

#selected2 {
    font-weight: 900;
    color: rgb(107, 107, 107);
}

#part-of-cv {
    position: relative;
    border-left: 2px solid var(--timeline);
    padding-top: 50px;
    top: 10vh;
}

.merits-wrapper1 {
    position: relative;
    right: 6px;
}

.merits-wrapper2 {
    display: inline-block;
    margin-bottom: 8.5vh;
    margin-left: 40px;
}

.merits-wrapper1:last-of-type .merits-wrapper2{
    margin-bottom: 47px;
}

#part-of-cv p {
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    line-height: 15px;
    color: rgb(85, 85, 85);
    font-weight: 200;
}

h5 {
    font-family: 'Assistant', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 12.5px;
    margin-bottom: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: rgb(78, 78, 78);

}

h5::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: rgb(230, 228, 228);
}

.merits-wrapper1:hover h5 {
    color: #623AA2;
}

.bullet {
    display: inline-block;
    position: absolute;
    top: 0.5vh;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--timeline);
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    transition-property: border, transform;
}

.merits-wrapper1:hover .bullet {
    border: 1px solid var(--timeline);
    transform: scale(2.8 );

}

.plus {
    position: absolute;
    font-size: 24px;
    font-weight: 100;    
    top: -9px;
    left: -3px;
    color: white;
    transform: scale(0);
    transition-duration: 350ms;
}

.merits-wrapper1:hover .plus {
    transform: scale(1);
    color: rgb(68, 68, 68);
}

.timeline-arrow {
    position: absolute;
    bottom: 0;
    left: -1.5px;
    height: 12px;
    width: 12px;
    border-right: 2px solid var(--timeline);
    border-bottom: 2px solid var(--timeline);
    transform: scale(0.9, 1) rotate(45deg);

}

#download-cv-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 4vh;
}

#download-cv-wrapper > div { 
    position: relative;  
    left: -20px;
    top: 5px;
    display: inline-block;
    background: rgb(233, 233, 233);
    height: 33px;
    width: 55.5%;
    text-align: center;
    padding: 8px;
    z-index: -1;
}

h6 {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(104, 103, 103);

}

#cv-btn {
    display: inline-block;
    text-align: center;
    width: 51px;
    height: 51px;
    background-color: rgb(91, 194, 189);
    border-radius: 50%;
    border: 5px solid rgb(233, 233, 233);
    box-shadow: ;
}

.fa-save {
    position: relative;
    font-size: 23px;
    top: 9px;
    color: white;
    font-weight: 300;
}

#to-portfolio-2 {
    position: absolute;
    bottom: 4vh;
    left: 2.5vw;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(-30deg, #623AA2, #F97794);
    background-color: rgb(91, 194, 189);
    border-radius: 50%;
    animation-name: bouncing-arrow;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
}

@keyframes bouncing-arrow {
    0%   
    {bottom: 4vh;}
    50%
    {bottom: 4.5vh;}
    100% {bottom: 4vh;}
  }



.fa-arrow-down {
    position: relative;
    font-size: 23px;
    top: 19px;
    color: white;
    font-weight: 300;
}

/* #to-portfolio img {
    display: relative;
    width: 70%;
    top: 10px;
        top: 5vh;
    left: 3.2vw
} */
